label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    }


button {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 100px;
    
    
}