.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  margin: 20px;
}

.form-control {
  background-color: #333;
  color: black;
  border: none;
  margin: 2rem;
}

.btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.table {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: none;
  padding: 10px;
}

th {
  background-color: #ff6347;
  color: #fff;
  font-weight: bold;
}

.predicted-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.predicted-image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-top: 10px;
}
